{% extends "SorabjiPatientBundle::logged_in.html.twig" %}

{% block content %}

<div class="span12">

  <h1>Invitation creation</h1>

  <form action="{{ path('invitation_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
      <button class="btn btn-primary" type="submit">Create</button>
    </p>
  </form>

  <ul class="record_actions">
    <li>
      <a href="{{ path('invitation') }}">
        Back to the list
      </a>
    </li>
  </ul>
</div>

{% endblock %}
