imports:
    - { resource: parameters.ini }
    - { resource: security.yml }

framework:
    #esi:             ~
    translator:      { fallback: en }
    secret:          %secret%
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: %kernel.debug%
    form:            true
    csrf_protection: true
    validation:      { enable_annotations: true }
    templating:      { engines: ['twig'] } #assets_version: SomeVersionScheme
    default_locale:  %locale%
    trust_proxy_headers: false # Whether or not the Request object should trust proxy headers (X_FORWARDED_FOR/HTTP_CLIENT_IP)
    session:         ~


# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%

# Assetic Configuration
assetic:
    debug:          %kernel.debug%
    use_controller: false
    # java: /usr/bin/java
    filters:
        cssrewrite: ~
        # closure:
        #     jar: %kernel.root_dir%/java/compiler.jar
        # yui_css:
        #     jar: %kernel.root_dir%/java/yuicompressor-2.4.2.jar

# Doctrine Configuration
doctrine:
    dbal:
        driver:   %database_driver%
        host:     %database_host%
        port:     %database_port%
        dbname:   %database_name%
        user:     %database_user%
        password: %database_password%
        charset:  UTF8

    orm:
        auto_generate_proxy_classes: %kernel.debug%
        default_entity_manager: default
        auto_mapping: true

doctrine_mongodb:
    connections:
        default:
            server:
            options: {connect: true}
    default_database: %mongo_database%
    document_managers:
        default:
            auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: %mailer_transport%
    host:      %mailer_host%
    username:  %mailer_user%
    password:  %mailer_password%
    spool:     { type: memory }

fos_user:
    db_driver: orm # other valid values are 'mongodb', 'couchdb' and 'propel'
    firewall_name: main
    user_class: Sorabji\PatientBundle\Entity\User
    registration:
        confirmation:
            enabled:    false # change to true for required email confirmation
            template:   FOSUserBundle:Registration:email.txt.twig # we'll want to change this
        form:
            type:    sorabji_user_registration # this maps to an alias in the services.xml
            handler:    sorabji.registration.form.handler # this is just the plain id, no tags used...

fos_js_routing:
    routes_to_expose:
      - "patient_update"
      - "patient_create"

sorabji_patient:
  indications:
    - "choose"
    - "AMA-35"
    - "AMA-36"
    - "AMA-37"
    - "AMA-38"
    - "AMA-39"
    - "AMA-40"
    - "AMA-41"
    - "AMA-42"
    - "AMA-43"
    - "AMA-44"
    - "AMA-45"
    - "AMA>45"
    - "ABNL US"
    - "CF"
    - "HEMOGLOBINOPATHIES"
    - "FAM HX DS"
    - "FAM HX T13"
    - "FAM HX T18"
    - "FAM HX OTHER CHROM ABNL"
    - "FAM HX NTD"
    - "FAM HX MR"
    - "FRAG X"
    - "MAT ANXIETY"
    - "POSITIVE AFP"
    - "SAB"
    - "TAY SACHS"
    - "TERATOGEN"
    - "OTHER X-LINKED"
    - "OTHER AR/AD"
    - "OTHER"

  counselors:
    - "choose"
    - 'FM'
    - 'GR'
    - 'TTU'

  diagnostic_procedures:
    - "choose"
    - 'CVS'
    - 'RA'
    - 'dec'
    - 'GConly'

  races:
    - "choose"
    - "CN"
    - "CH"
    - "AA"
    - "NA"
    - "ME"
    - "AI"
    - "SEA"
    - "Cambodian"
    - "Loation"
    - "Vietnamese"
    - "Filipino"
    - "Chinese"
    - "Japanese"
    - "Korean"

  sites:
    - "choose"
    - 'CHULA'
    - 'MR'
    - 'TU'
    - 'IN'
